html,body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	overflow: hidden;

	background-color: lightblue;
}
td {
	border: solid 1px #BCC7D5;
	border-radius: 5px;
	background-color: #f5f5fa;
	padding: 5px 8px 5px 5px;
}
